<!DOCTYPE html>
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/null_for_templates.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    
    <div class="wrapper">
        <header>
            <div class="container">
                <div class="inner__back">
                    <div class="header">
                        <div class="header__logo">
                            <img src="{% static 'img/logo.svg' %}" alt="logo">
                        </div>
                        <div class="header__burger">
                            <span></span>
                        </div>
                        <nav class="header__menu">
                            <ul class="menu__list">
                                <li>
                                    <a href="#" class="menu__link">Видеообзоры</a>
                                </li>
                                <li>
                                    <a href="#" class="menu__link">Калькулятор прибыли</a>
                                </li>
                                <li>
                                    <a href="#" class="menu__link">О нас</a>
                                </li>
                                <li>
                                    <a href="#" class="menu__link">Контакты</a>
                                </li>
                                <li class="header__contact">
                                    {% for contact in contacts %}
                                    <a href="#">{{ contact.phone }}</a>
                                    <p>
                                        <span>{{ contact.address }}</span>
                                    </p>
                                    {% endfor %}
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section class="back">
                <div class="container">
                    <div class="inner__back">
                        <div class="section__main">
                            <div class="main__info">
                                <h1 class="info__title">
                                    Продаём <span>секонд хенд</span> оптом по всей Беларуси
                                </h1>
                                <p class="info__text">
                                    <span>Для владельцев магазинов</span> или тех кто только хочет попробовать себя в торговле вещами секонд хенд
                                </p>
                                <div class="info__item">
                                    <div class="item">
                                        <div class="item__img">
                                            <img src="{% static 'img/main_item_img1.svg' %}" alt="order">
                                        </div>
                                        <p class="item__text">
                                            Минимальный заказ от 1 мешка. Удобно для <span>маленьких магазинов.</span>
                                        </p>
                                    </div>
                                    <div class="item">
                                        <div class="item__img">
                                            <img src="{% static 'img/main_item_img2.svg' %}" alt="order">
                                        </div>
                                        <p class="item__text">
                                            Количество мешков к вскрытию <span>не ограничено</span>
                                        </p>
                                    </div>
                                    <div class="main__circle">
                                        <p class="circle__text">Выгодная цена <span>от 5 BYN за 1 кг</span></p>
                                    </div>
                                </div>
                                <div class="main__item">
                                    Выгодная цена <span>от 5 BYN за 1 кг</span>
                                </div>
                                <form action="{% url 'phone_submit' %}" method="POST" class="main__form">
                                    {% csrf_token %}
                                    {{ phone_form.user_tel }}
                                    {% if phone_form.user_tel.errors %}
                                        <ul>
                                            {% for error in phone_form.user_tel.errors %}
                                                <li class="info__error"><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    <button>
                                        Оставить заявку
                                    </button>
                                    <p class="form__text">
                                        Перезвоним в течение 15 минут и ответим на все вопросы 
                                    </p>
                                </form>
                            </div>
                            <div class="main__image">
                                <div class="image__item image__item-first">
                                    <img src="{% static 'img/main_image_3.png' %}" alt="img">
                                </div>
                                <div class="image__item image__item-second">
                                    <img src="{% static 'img/main_image_2.png' %}" alt="img">
                                </div>
                                <div class="image__item image__item-third">
                                    <img src="{% static 'img/main_image_1.png' %}" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="section__video">
                        <h2 class="video__title">
                            Посмотрите <span>видеообзор товара</span> и убедитесь в качестве!
                        </h2>
                        <div class="video__block">
                            <p class="block__title">
                                Товар №3234
                            </p>
                            <div class="video__body">
                                <div class="slider__button left">
                                    <img src="{% static 'img/slider_button-left.svg' %}" alt="prev">
                                </div>
                                <div class="video__player">
                                    <img src="{% static 'img/slider_img.png' %}" alt="img">
                                    <div class="player__item">
                                        <img src="{% static 'img/slider_play.svg' %}" alt="Play">
                                    </div>
                                </div>
                                <div class="slider__button right">
                                    <img src="{% static 'img/slider_button-right.svg' %}" alt="next">
                                </div>
                            </div>
                            <ul class="video__carousel">
                                <li class="carousel__item">
                                    <img src="{% static 'img/carousel__item.svg' %}" alt="">
                                </li>
                                <li class="carousel__item">
                                    <img src="{% static 'img/carousel__item.svg' %}" alt="">
                                </li>
                                <li class="carousel__item">
                                    <img src="{% static 'img/carousel__item.svg' %}" alt="">
                                </li>
                                <li class="carousel__item">
                                    <img src="{% static 'img/carousel__item.svg' %}" alt="">
                                </li>
                                <li class="carousel__item">
                                    <img src="{% static 'img/carousel__item.svg' %}" alt="">
                                </li>
                                <li class="carousel__item">
                                    <img src="{% static 'img/carousel__item.svg' %}" alt="">
                                </li>
                                <li class="carousel__item">
                                    <img src="{% static 'img/carousel__item.svg' %}" alt="">
                                </li>
                            </ul>
                        </div>
                        <form action="{% url 'phone_submit' %}" method="POST" class="video__form">
                            {% csrf_token %}
                            {{ phone_form.user_tel }}
                            {% if phone_form.user_tel.errors %}
                                <ul>
                                    {% for error in phone_form.user_tel.errors %}
                                        <li class="info__error"><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <button>
                                Хочу увидеть вживую
                            </button>
                            <p class="form__text">
                                Перезвоним в течение 15 минут и ответим на все вопросы 
                            </p>
                        </form>
                        <div class="video__promo">
                            <div class="promo__img">
                                <img src="{% static 'img/promo__img.png' %}" alt="img">
                            </div>
                            <h3 class="promo__title">
                                За первое полугодие <span>выручка</span> секонд хендов <span>выросла в 1,4 раза</span> по сравнению с тем же периодом прошлого года
                            </h3>
                            <div class="promo__element">
                                <div class="element__vector">
                                    <img src="{% static 'img/promo__vector.svg' %}" alt="arrow">
                                </div>
                                <div class="element__block">
                                    <div class="element__item"></div>
                                    <div class="element__item"></div>
                                    <div class="element__item"></div>
                                    <div class="element__item"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="back">
                <div class="container">
                    <div class="section__calculator">
                        <h2 class="calc__title">
                            Рассчитайте свою прибыль от реализации нашего товара в Беларуси
                        </h2>
                        <div class="calc__block">
                            <div class="calc__block-text">
                                <p class="calc__block-choice">
                                    Выберите позицию:
                                </p>
                                <ul class="calc__list">
                                    <li class="calc__list-choice">
                                        Классические блузки с длинным рукавом
                                    </li>
                                </ul>
                                <a href="#">Смотреть видеообзор этого товара</a>
                                <div class="calc__block-row">
                                    <div class="calc__block-column">
                                        <p>
                                            Средний <span>вес</span> мешка:
                                        </p>
                                        <p>
                                            8 кг
                                        </p>
                                    </div>
                                    <div class="calc__block-column">
                                        <p>
                                            Средняя <span>себестоимость вещи:</span>
                                        </p>
                                        <p>
                                            2 BYN
                                        </p>
                                    </div>
                                </div>
                                <p class="calc__block-choice block-choice__second">
                                    Выберите среднюю <span>продажную цену</span> 1 вещи
                                </p>
                                <div class="calc__price">
                                    <div class="price__block">
                                        <div class="price__block-change">
                                            -
                                        </div>
                                        <p class="price__text">
                                            5
                                        </p>
                                        <div class="price__block-change">
                                            +
                                        </div>
                                    </div>
                                    <div class="price__text">
                                        BYN
                                    </div>
                                </div>
                                <div class="calc__summ">
                                    <p class="calc__summ-text">
                                        Ваша <span>чистая прибыль с 1 мешка</span> составит:
                                    </p>
                                    <p class="calc__summ-price">
                                        45 BYN
                                    </p>
                                </div>
                            </div>
                            <div class="calculator__block-img">
                                <img src="{% static 'img/calc__img.png' %}" alt="calc_img">
                            </div>
                        </div>
                        <h3 class="calc__subtitle">
                            Оставьте номер телефона, мы перезвоним и поможем расчитать прибыль от реализации товара у Вас в городе
                        </h3>
                        <form action="{% url 'phone_submit' %}" method="POST" class="calc__form">
                            {% csrf_token %}
                            {{ phone_form.user_tel }}
                            {% if phone_form.user_tel.errors %}
                                <ul>
                                    {% for error in phone_form.user_tel.errors %}
                                        <li class="info__error"><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <button>
                                Оставить заявку
                            </button>
                            <p class="form__text">
                                Перезвоним в течение 15 минут и ответим на все вопросы 
                            </p>
                        </form>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="section__about">
                        <h2 class="about__title">
                            Вот еще пара причин почему секонд хенд это выгодная ниша
                        </h2>
                        <div class="about__card">
                            <div class="about__text">
                                <h3>
                                    Секонд-хенд актуален в кризис
                                </h3>
                                <p>
                                    Высокий курс доллара диктует розничным магазинам цену на одежду <span>зарубежных брендов</span>. Она стала попросту <span>недоступна</span> большинству жителей Беларуси. Вместо дорогих бутиков <span>люди все чаще выбирают секондхенды.</span>
                                </p>
                            </div>
                            <div class="about__image">
                                <img src="{% static 'img/about__card-img.png' %}" alt="image">
                                <img src="{% static 'img/about__card-svg.svg' %}" alt="" class="about__card about__card-position">
                            </div>
                        </div>
                        <div class="about__card">
                            <div class="about__image">
                                <img src="{% static 'img/about__card-img-2.png' %}" alt="image">
                                <img src="{% static 'img/about__card-svg-2.svg' %}" alt="" class="about__card about__card-position position-left">
                            </div>
                            <div class="about__text">
                                <h3>
                                    Моментальная окупаемость
                                </h3>
                                <p>
                                    Только что открытый магазин Second hand <span>окупается в среднем за 1-2 месяца.</span> Это крайне короткий срок выхода бизнеса на точку безубыточности. Вряд ли какая-либо другая ниша сможет показать настолько быстрый результат.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="back">
                <div class="container">
                    <div class="section__sales">
                        <div class="sales__wrapper">
                            <div class="sales__about">
                                <h2 class="sales__title">
                                    Мы занимаемся продажей секонд-хенд в розницу 6 лет. Почему <span>нам выгодно сотрудничать?</span>
                                </h2>
                                <p>
                                    Год назад мы перешли на <span>товар подешевле и дела пошли в гору.</span> В апреле 2021 открыли еще один магазин, августе 2021 еще один, но как оказалось не все так хорошо с наличием недорогого товара на складах наших оптовиков. 
                                </p>
                                <p>
                                    Начали поиск <span>прямого контракта с поставщиками из Европы.</span> Там тоже не все и сразу есть в наличии, поэтому заказы нужно делать не реже чем раз в месяц, а то и чаще, поэтому и предлагаем «поделится» нашим товаром с потенциальными клиентами.
                                </p>
                            </div>
                            <div class="sales__img">
                                <img src="{% static 'img/sales__img.png' %}" alt="image">
                            </div>
                        </div>
                        <div class="sales__row">
                            <p>
                                Приезжайте к нам на склад и посмотрите сами. Все мешки открываем, смотрим. <span>Количество мешков</span> к вскрытию <span>не ограничено.</span>
                            </p>
                            <p>
                                Ждем Вас, поделимся своим опытом, расскажем как на этом <span>можно и нужно зарабатывать.</span>
                            </p>
                        </div>
                        <form action="{% url 'phone_submit' %}" method="POST" class="sales__form">
                            {% csrf_token %}
                            {{ phone_form.user_tel }}
                            {% if phone_form.user_tel.errors %}
                                <ul>
                                    {% for error in phone_form.user_tel.errors %}
                                        <li class="info__error"><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <button>
                                Оставить заявку
                            </button>
                            <p class="form__text">
                                Перезвоним в течение 15 минут и ответим на все вопросы 
                            </p>
                        </form>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="section__payment">
                        <h2 class="payment__title">
                            Максимум комфорта для вас и вашего бизнеса
                        </h2>
                        <p class="payment__text">
                            Хорошо знаем рынок и нишу, всегда помогаем нашим клиентам, потому что нам выгодно, чтобы вы зарабатывали!
                        </p>
                        <div class="payment__row">
                            <div class="payment__row-item">
                                <div class="payment__item-img">
                                    <img src="{% static 'img/payment_currency.svg' %}" alt="currency">
                                </div>
                                <h3 class="paymnet__row-title">
                                    Все способы <span>оплаты</span>
                                </h3>
                                <p>
                                    Безналичный и наличный расчёт
                                </p>
                            </div>
                            <div class="payment__row-item">
                                <div class="payment__item-img">
                                    <img src="{% static 'img/payment_achievement.svg' %}" alt="achievement">
                                </div>
                                <h3 class="paymnet__row-title">
                                    <span>Гарантия</span> качества товара
                                </h3>
                                <p>
                                    Вы лично можете открыть все мешки и проверить товар
                                </p>
                            </div>
                            <div class="payment__row-item">
                                <div class="payment__item-img">
                                    <img src="{% static 'img/paymnet_video.svg' %}" alt="video">
                                </div>
                                <h3 class="paymnet__row-title">
                                    Постоянная <span>поддержка</span>
                                </h3>
                                <p>
                                    Мы всегда рады ответить на любые вопросы по открытию и развитию вашего бизнеса.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="back">
                <div class="container">
                    <div class="section__logistics">
                        <h2 class="logistics__title">
                            У нас самая выгодная цена в Беларуси 
                        </h2>
                        <p class="logistics__text">
                            Средняя cебестоимость вещи от 1 BYN, а средняя розничная цена 10 BYN
                        </p>
                        <div class="logistics__block">
                            <div class="logistics__img">
                                <img src="{% static 'img/logistics__img-2.png' %}" alt="logistics">
                            </div>
                            <div class="logistick__block-text">
                                <h3>
                                    Прямые поставки из Европы
                                </h3>
                                <p>
                                    Грамотная логистика и надёжные поставщики позволяют нам получить лучшую цену и товар
                                </p>
                            </div>
                        </div>
                        <div class="logistics__block">
                            <div class="logistick__block-text">
                                <h3>
                                    Удобный ассортиментный перечень
                                </h3>
                                <p>
                                    Есть как миксы, так и отсортированный товар по сезону (сезонный, несезонный), по полу (мужской, женский, детский, смешанный)
                                </p>
                            </div>
                            <div class="logistics__img">
                                <img src="{% static 'img/logistics__img-1.png' %}" alt="logistics">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="container">
                <div class="footer">
                    <div class="footer__text">
                        <h2 class="footer__title">
                            Приезжайте к нам на склад выбирайте товар и зарабатывайте!
                        </h2>
                        <p class="footer__subtitle">
                            Перед визитом позвоните и согласуйте время
                        </p>
                        <ul class="footer__list-contacts">
                            <li>
                                Телефон:
                            </li>
                             {% for contact in contacts %}
                            <li>
                                <a href="#" class="footer__list-link">
                                    {{ contact.phone }}
                                </a>
                            </li>
                            <li>
                                Адрес:
                            </li>
                            <li>
                                {{ contact.address }}
                            </li>
                            {% endfor %}
                        </ul>
                        <form action="{% url 'phone_submit' %}" method="POST" class="fotter__form">
                            {% csrf_token %}
                            {{ phone_form.user_tel }}
                            {% if phone_form.user_tel.errors %}
                                <ul>
                                    {% for error in phone_form.user_tel.errors %}
                                        <li class="info__error"><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <button>
                                Оставить заявку
                            </button>
                            <p class="form__text">
                                Перезвоним в течение 15 минут и ответим на все вопросы 
                            </p>
                        </form>
                    </div>
                    <div class="footer__map">
                        <img src="{% static 'img/footer__map.png' %}" alt="map">
                    </div>
                </div>
                <p class="footer__copy">
                    2021 © «still_nashky», все права защищены
                </p>
            </div>
        </footer>
    </div>

    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>