footer{
    background: #15252E;
    padding: 56px 0 48px 0;
}
.footer{
    font-family: Segoe UI;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}
.footer__text {
    padding-top: 26px;
}
.footer__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer__subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 145%;
    color: #F4F3EF;
    margin-bottom: 32px;
}
.footer__list-contacts {
    margin-bottom: 56px;

    & li:nth-child(2){
        margin-bottom: 32px;
    }
    & li:nth-child(odd){
        font-weight: normal;
        font-size: 16px;
        line-height: 145%;
        color: #F4F3EF;
        margin-bottom: 8px;
    }
    & li:nth-child(even){
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF;
    }
}
.footer__list-link {
    color: #FFFFFF;
}
.fotter__form {
    position: relative;
    min-width: 470px;
    & input{
        width: 100%;
        display: inline-block;
        padding: 25px 16px 25px 16px;
        font-weight: normal;
        font-size: 18px;
        line-height: 130%;
        color: #828282;
        background: #FFFFFF;
        box-shadow: 0px 8px 8px rgba(0, 32, 51, 0.04), 0px 12px 28px rgba(0, 32, 51, 0.12);
        border-radius: 8px;
        margin-bottom: 8px;
    }
    & button{
        padding: 14px 24px;
        background: #522E79;
        border-radius: 8px;
        position: absolute;
        top: 14px;
        right: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        color: #FFFFFF;
    }
}
.footer__map {
}
.footer__copy {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 145%;
    text-align: center;
    color: #828282;
}