.section__sales {
    font-family: Segoe UI;
    font-style: normal;
    padding: 40px 0 56px 0;
}
.sales__wrapper {
    display: flex;
    margin-bottom: 40px;
}
.sales__about {
    & p{
        width: 500px;
        font-weight: normal;
        font-size: 16px;
        line-height: 145%;
        color: #002033;
    }
    & p:nth-child(2){
        margin-bottom: 16px;
    }
    & span{
        font-weight: 700;
    }
}
.sales__title {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 130%;
    color: #002033;
    margin-bottom: 32px;
    & span{
        color: #E02348;
    }
}
.sales__img {
    padding-top: 15px;
}
.sales__row {
    padding: 24px 32px 32px 32px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 32, 51, 0.02), 0px 2px 8px rgba(0, 32, 51, 0.16);
    border-radius: 8px;
    display: flex;
    margin-bottom: 40px;

    & p{
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        color: #000000;
    }
    & span{
        color: #E02348;
    }
    & p:first-child{
        width: 460px;
        margin-right: 100px;
    }
    & p:last-child{
        width: 385px;
    }
}
.sales__form {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    & input{
        width: 470px;
        display: inline-block;
        padding: 25px 16px 25px 16px;
        font-weight: normal;
        font-size: 18px;
        line-height: 130%;
        color: #828282;
        background: #FFFFFF;
        box-shadow: 0px 8px 8px rgba(0, 32, 51, 0.04), 0px 12px 28px rgba(0, 32, 51, 0.12);
        border-radius: 8px;
        margin-bottom: 8px;
        margin-right: 16px;
    }
    & button{
        padding: 14px 24px;
        background: #522E79;
        border-radius: 8px;
        position: absolute;
        top: 14px;
        left: 292px;
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        color: #FFFFFF;
    }
    & .form__text {
        display: inline-block;
        width: 242px;
    }
}
